image: Ubuntu1804

branches:
  only:
    - master

build: off

install:

  - chmod +x artifacts/app-card-delivery.jar
  - ps: $App = Start-Process -FilePath java -ArgumentList "-jar ./artifacts/app-card-delivery.jar -port=9000" -PassThru
  - chmod +x gradlew

build_script:
  - ps: ./gradlew test --info "-Dselenide.headless=true"

on_finish:
  - ps: Stop-Process -Id $App.Id